.navigation{
    display: flex;
}
.header{
    display: flex;
    font-size: 16px;
    box-shadow: 0px 2px 8px #b3b3b3;
    background-color: white;
    border-bottom: 2px solid #cecdcd;
    padding: 20px;
    justify-content: space-between;
    position: static;
    z-index: 1;
    //width:100%;
}
    
    .top-bar{
        display: flex;
    }
    .menu-bar{
        display: none;
    }
    .left-arrow{
        font-size: 18px;
        padding-right: 20px;
        padding-left: 10px;
        padding-top: 3px;
    }
    .dash-board{
        font-weight: lighter;
        padding-right: 10px;
        padding-left: 10px;
    }
    .right-arrow{
        padding-right: 10px;
        padding-top: 5px;
        padding-left: 10px;
    }
    .social-feed{
        font-weight: bolder;
    }
    

@media only screen and (max-width: 426px){
    .header{
        font-size: 14px;
    }
    .dash-board{
        padding-left: 10px;
    }
    .top-bar{
        display: flex;
    }
   .menu-bar{
        display: block;
        float: right;
        padding-right: 20px;
    }
 }  


    
